$arrow-size: 25px;

.back-choices-menu {
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: $arrow-size;
  height: $arrow-size;
  background-color: #8a8888;
  border-radius: $arrow-size;
  border: 1px solid #525252;
  margin: 15px 25px;
}

.back-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $arrow-size;
  height: $arrow-size;
}

a.back-arrow-link {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: purple;
  }
  &:active{
    color: rebeccapurple;
    transition: transform 0.1s ease-in-out;
    transform: scale(0.9);
  }
}
